
		*{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			color: white;
			border-radius: 10px;
		}
	
		body{
			background: linear-gradient(60deg, rgba(165, 42, 42, .3), rgba(255, 255, 255, .3));
		}
		table{
			font-size: 25px;
			position: absolute;
			border: 1px solid black;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: linear-gradient(60deg, white, brown);
			width: 50%;
			padding: 10px;
			transition: .5s;
			
		}
		table:hover{
			box-shadow:  50px 30px 10px rgba(22, 28, 34, 0.3);
		scale: 1.02;
		}
		
		th{                                                   
			
			width: 50%;
		}
		td{
			font-size: 20px;
		}
		tbody{
			height: 250px;
		}
		tbody tr td{
			text-align: center;
			border: 1px solid black;
			background: grey;
			transition: .5s;
		}
		tbody tr td:hover{
		scale: 1.1;
		}